package hanariu

import (
	"github.com/Discorder20/raw-h/pkg/hanariu"
	atoms "github.com/Discorder20/raw-h/pkg/hanariu/atoms"
	icons "github.com/Discorder20/raw-h/pkg/hanariu/icons"
	protons "github.com/Discorder20/raw-h/pkg/hanariu/protons"
)

type AlertBosons struct {
	Type         string `default:"warning"` // warning, info, success, danger
	Title        string
	Dismiss      bool
	DismissTitle string `default:"Close alert"`
	LinkMore     atoms.ButtonLinkBosons
	LinkDetails  atoms.ButtonLinkBosons
}

var alertStyles = hanariu.Boson{
	"default":   "alert-default",
	"closeBtn":  "alert-closebtn",
	"icon":      "alert-icon",
	"content":   "alert-content",
	"title":     "alert-title",
	"msg":       "alert-msg",
	"btns":      "alert-btns",
	"detailBtn": "alert-detailbtn",
	"viewBtn":   "alert-viewbtn",
}

var alertColorStyles = hanariu.Boson{
	"warning": "alert-color-warning",
	"danger":  "alert-color-danger",
	"success": "alert-color-success",
	"info":    "alert-color-info",
}

var alertCloseColorStyles = hanariu.Boson{
	"warning": "alert-closecolor-warning",
	"danger":  "alert-closecolor-danger",
	"success": "alert-closecolor-success",
	"info":    "alert-closecolor-info",
}

var alertButtonLinkStyles = hanariu.Boson{
	"warning": "alert-buttonlink-warning",
	"danger":  "alert-buttonlink-danger",
	"success": "alert-buttonlink-success",
	"info":    "alert-buttonlink-info",
}

templ Alert(props *AlertBosons) {
	<div class={ alertStyles["default"] + " " + alertColorStyles[hanariu.GetTagDefault("Type", props.Type, AlertBosons{})] } data-x-show="showAlert" data-x-data="{ showAlert: true }">
		<div class={ alertStyles["icon"] }>
			@protons.Icon(&protons.IconBosons{
				Size:  "sm",
				Color: hanariu.GetTagDefault("Type", props.Type, AlertBosons{}),
			}) {
				switch props.Type {
					case "info":
						@icons.IconExclamationCircle()
					case "success":
						@icons.IconCheckCircle()
					case "danger":
						@icons.IconTimesCircle()
					default:
						@icons.IconExclamationTriangle()
				}
			}
		</div>
		<div class={ alertStyles["content"] }>
			<div class={ alertStyles["title"] }>
				{ props.Title }
			</div>
			<div class={ alertStyles["msg"] }>
				{ children... }
			</div>
			if len(props.LinkMore.Title) > 0 || len(props.LinkDetails.Title) > 0 {
				<div class={ alertStyles["btns"] }>
					if len(props.LinkMore.Title) > 0 {
						@atoms.ButtonLink(
							&atoms.ButtonLinkBosons{
								Color: hanariu.GetTagDefault("Type", props.Type, AlertBosons{}),
								Size:  "sm",
								Title: props.LinkMore.Title,
								Attrs: props.LinkMore.Attrs,
							},
						)
					}
					if len(props.LinkDetails.Title) > 0 {
						@atoms.ButtonLinkIcon(
							&atoms.ButtonLinkBosons{
								Color:   hanariu.GetTagDefault("Type", props.Type, AlertBosons{}),
								Size:    "sm",
								Reverse: true,
								Title:   props.LinkDetails.Title,
								Attrs:   props.LinkMore.Attrs,
							},
						) {
							@icons.IconArrowRight()
						}
					}
				</div>
			}
		</div>
		if props.Dismiss {
			<button title={ hanariu.GetTagDefault("DismissTitle", props.DismissTitle, AlertBosons{}) } class={ alertStyles["closeBtn"] + " " + alertCloseColorStyles[hanariu.GetTagDefault("Type", props.Type, AlertBosons{})] } data-x-bind="{['data-x-on:click']() { showAlert = ! showAlert }}">
				@protons.Icon(&protons.IconBosons{
					Size:  "full",
					Color: "current",
				}) {
					@icons.IconTimes()
				}
			</button>
		}
	</div>
}
