package hanariu

import (
	"github.com/Discorder20/raw-h/pkg/hanariu"
	icons "github.com/Discorder20/raw-h/pkg/hanariu/icons"
	protons "github.com/Discorder20/raw-h/pkg/hanariu/protons"
)

var modalHeaderStyles = hanariu.Boson{
	"default":    "modalheader-default",
	"horizontal": "modalheader-horizontal",
	"vertical":   "modalheader-vertical",
	"close":      "modalheader-close",
}

var modalHeaderContentStyles = hanariu.Boson{
	"content":       "modalheader-content-content",
	"contentCenter": "modalheader-content-contentcenter",
	"title":         "modalheader-content-title",
	"titleLeft":     "modalheader-content-titleleft",
	"titleCenter":   "modalheader-content-titlecenter",
	"msg":           "modalheader-content-msg",
}

templ ModalHeader(orientation string) {
	<div class={ getModalHeaderClasses(orientation) }>
		{ children... }
	</div>
}

func getModalHeaderClasses(orientation string) string {
	if orientation == "vertical" {
		return modalHeaderStyles["default"] + " " + modalHeaderStyles["vertical"]
	} else {
		return modalHeaderStyles["default"] + " " + modalHeaderStyles["horizontal"]
	}
}

templ ModalHeaderHero(center bool) {
	if center {
		<div class="modalheader-1214">
			{ children... }
		</div>
	} else {
		<div>
			{ children... }
		</div>
	}
}

templ ModalHeaderClose(title string) {
	<div class={ modalHeaderStyles["close"] }>
		<button class="modalheader-1428" data-x-bind="{['data-x-on:click']() { $store.overlay.close()}}" title={ title }>
			<span class="modalheader-1818">{ title }</span>
			@protons.Icon(&protons.IconBosons{
				Size:  "sm",
				Color: "current",
			}) {
				@icons.IconTimes()
			}
		</button>
	</div>
}

templ ModalHeaderContent(title, align string) {
	<div class={ getModalHeaderContentClasess(align) }>
		<div class={ getModalHeaderTitleClasess(align) }>
			{ title }
		</div>
		<div class={ modalHeaderContentStyles["msg"] }>
			{ children... }
		</div>
	</div>
}

func getModalHeaderContentClasess(align string) string {
	var classes = modalHeaderContentStyles["content"]
	if align == "center" {
		classes += " " + modalHeaderContentStyles["contentCenter"]
	}
	return classes
}

func getModalHeaderTitleClasess(align string) string {
	var classes = modalHeaderContentStyles["title"]
	if align == "center" {
		classes += " " + modalHeaderContentStyles["titleCenter"]
	} else {
		classes += " " + modalHeaderContentStyles["titleLeft"]
	}
	return classes
}
