package hanariu

import (
	"github.com/Discorder20/raw-h/pkg/hanariu"
	atoms "github.com/Discorder20/raw-h/pkg/hanariu/atoms"
)

type TabsBosons struct {
	Id        string
	Type      string // tabs, pill, full
	Items     []atoms.TabBosons
	WithIcon  bool
	WithBadge bool
	Active    string
}

var tabsStyles = hanariu.Boson{
	"select": "tabs-select",
	"tab":    "tabs-tab",
	"full":   "tabs-full",
}

var tabsTypeStyle = hanariu.Boson{
	"tab":  "tabs-typestyle-tab",
	"pill": "tabs-typestyle-pill",
	"full": "tabs-typestyle-full",
}

templ Tabs(props *TabsBosons) {
	<div data-x-data={ "{ activeTab: '" + props.Active + "' }" } class="tabs-container">
		<div class="tabs-internal-container">
			<label for={ props.Id } class="tabs-label">Select a tab</label>
			<!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
			<select id={ props.Id } name="tabs" class={ tabsStyles["select"] }>
				for _, item := range props.Items {
					<option selected={ "{ activeTab === " + item.Id + " }" }>{ item.Title }</option>
				}
			</select>
		</div>
		<div class="tabs-nav-container">
			if props.Type == "pill" {
				@getTabsNav(props, props.Type)
			} else {
				<div class={ tabsStyles[props.Type] }>
					@getTabsNav(props, props.Type)
				</div>
			}
		</div>
		{ children... }
	</div>
}

templ getTabsNav(props *TabsBosons, tabtype string) {
	<nav class={ tabsTypeStyle[tabtype] } aria-label="Tabs">
		for _, item := range props.Items {
			@atoms.Tab(&item, props.Type, props.WithIcon, props.WithBadge, len(props.Items))
		}
	</nav>
}

templ TabsPanel(panel string) {
	<div data-x-show={ "activeTab === '" + panel + "'" }>
		{ children... }
	</div>
}
