package hanariu

type AccordionBosons struct {
	Collapse bool
}

templ Accordion(props *AccordionBosons) {
	if props.Collapse {
		<div class="accordion">
			{ children... }
		</div>
	} else {
		<div
			class="accordion"
			data-x-data="{selected: 1}"
		>
			{ children... }
		</div>
	}
}
